.wrap-top {
    padding: 7px 0;
    justify-content: space-around;
}

.title {
    font-size: large;
    font-weight: bold;
}

.form-content {
    display: flex;
    justify-content: center;
}

.table-form {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--dark);
}

.form-item {
    padding: 10px;
}
